:root {
  --bs-primary: rgba(26,188,156,255);
  --bs-secondary: rgba(44,62,80,255);
}

nav {
  background-color: var(--bs-secondary);
}

header section,
main section:nth-of-type(2) {
  background-color: var(--bs-primary);
}

main section:nth-child(4) {
  background-color: rgba(58,84,109,255);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}